<div class="row tzbackground">
  <div class="add-details" *ngIf="showAddContainer">
    <form #addForm="ngForm">
      <div class="form-group">
        <label>Name of Colleague : </label>
        <input type="text" class="form-control" id="nametoadd" [(ngModel)]="givenName" name="nametoadd" required>
      </div>
      <div class="form-group">
        <label>Country : </label>
        <select class="form-control"
                id="countryid"
                name="countryid"
                [(ngModel)]="seletedCountry" #countryid="ngModel"
                (ngModelChange)="loadZoneByCountry()" required>
          <option *ngFor="let country of countries"
                  [value]="country.code">{{country.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Zones : </label>
        <select class="form-control" id="zoneid" name="zoneid"
                [(ngModel)]="seletedZone" #zoneid="ngModel" required>
          <option *ngFor="let zone of zones" [value]="zone">{{zone}}</option>
        </select>
      </div>
    </form>
    <button type="submit"
            class="btn btn-default" [disabled]="!addForm.form.valid" (click)="addTeamMate()">Submit</button>
    <button class="btn btn-default" (click)="closeAdd()">Cancel</button>
  </div>
  <div class="col-md-12 arcContainer">

  </div>
  <div class="col-md-12" *ngIf="showLegends">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <div class="color-box" style="background-color:#1c3b5e;"></div>
            <span>Office Hours (9:30 - 7:30)</span>
          </div>
          <div class="col-md-4">
            <div class="color-box" style="background-color:#0973ea;"></div>
            <span>Stretch Hours (7:30 - 9:30, 7:30 - 10)</span>
          </div>
          <div class="col-md-2"></div>
      </div>
  </div>
</div>

