/* You can add global styles to this file, and also import other style files */
.arc {
    fill: #1c3b5e;
}

.strechedArc{
  fill: #0973ea;
}

.color-box {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  /* border: 1px solid white; */
  margin-right: 20px;
  margin-top: 9px;
}

.initialArc{
  fill: #8abbd7;
}

.tzbackground{
  background: rgb(197,222,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
}

.tzbackground span{
  color: #fff;
  padding-top: 5px;
  display: block;
}

.arcContainer{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
  /*background: rgb(197,222,234); !* Old browsers *!
  background: -moz-linear-gradient(top,  rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); !* FF3.6-15 *!
  background: -webkit-linear-gradient(top,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); !* Chrome10-25,Safari5.1-6 *!
  background: linear-gradient(to bottom,  rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); !* IE6-9 *!*/
  height: 620px;
}

.add-details{
  position: absolute;
  right:0;
  width:40%;
  margin-right: 20px;
  padding: 10px;
  z-index: 1000;
  background: rgb(87,159,187); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(87,159,187,1) 0%, rgba(28,59,94,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(87,159,187,1) 0%,rgba(28,59,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(87,159,187,1) 0%,rgba(28,59,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#579fbb', endColorstr='#1c3b5e',GradientType=0 ); /* IE6-9 */
}

.add-details label{
  color: #fff;
}

.textpath{
  font-weight: bold;
  color: white;
}

